.container {
    padding-bottom: 80px;
}
.new-carousel {
    background-color: #feeae9;
    border-radius: 15px;
}
.carousel-item {
    padding: 20px 20px;
}
.price {
    color: #ff136f;
}
.buy-button {
    background-image: linear-gradient(to bottom , #ff5895 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
  
.cat-1 , .cat-2 , .cat-3 {
    padding : 10px 30px ;
    border-radius: 20px;
}

.cat-1 {
    background-image: linear-gradient(to right, red 0%, orange 100%);
}
.cat-2 {
    background-image: linear-gradient(to right, blue 0%, lightblue 100%);
}
.cat-3 {
    background-image: linear-gradient(to right , #ff136f 0%,  #df96b1da 100%);
}
.catagories {
    color: white;
}